<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password Form</title>
</head>
<body>
	<section>

		<div id="login">
			<div class="container">
				<div id="login-row"	class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12 p-4" style="height:auto;">
							
							<div class="container mt-3 text-center"> 
							
								<h3 class="text-white">Enter New Password</h3>
							
							</div>
							
							
							<form th:action="@{/change-password}" method="post">

								<div class="form-group pt-3">
								
									<input type="password" placeholder="Enter New Password here" required="required"
										class="form-control" name="newpassword" />
								</div>
								
								<div class="container pt-4 text-center">
								
									<button class="btn text-white" style="background:#0043ca;">
									Change Password</button>
								
								</div>
								
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>